.box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 400px 600px 200px;
    border: 1px solid red;
    background-color: chartreuse;
}

.box1{
    /* height: 400px;
    width: 300px; */
    /* grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    border: 1px dotted brown;
    background-color: aquamarine;
    /* gap: 20px; */
   
}

.box11{
     height: 150px;
    width: 150px;
    border: 1px solid red;
    background-color: aqua;
     margin-top: 20px;
    margin-left: 20px;
}

.box12{
    height: 150px;
    width: 150px;
    border: 1px solid red;
    background-color: black;
    margin-top: 20px;
}

.box13{
     height: 150px;
    width: 150px;
    border: 1px solid red;
    background-color: brown;
    margin-left: 20px;
}

.box14{
     height: 150px;
    width: 150px;
    border: 1px solid red;
    background-color: cadetblue;
}
.box2
{

/* height: 400px;
    width: 300px; */
    /* grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2; */
    border: 1px dotted brown;
    background-color: red;
}
.box3{
/* height: 400px;
    width: 300px; */
    border: 1px dotted brown;
    background-color: cyan;
}
/* .box4{
height: 400px;
    width: 300px;
    border: 1px dotted brown;
    background-color: yellow;
} */